.site-footer {
  width: 100%;
  background-color: #25083a;
  color: white;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.15);
}

.footer-content {
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  max-width:50%;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-section h5 {
  margin-bottom: 10px;
}

.footer-section img {
  width: 50px;  /* Adjust this value as needed */
  height: auto;  /* Maintains the aspect ratio */
  margin-top: 10px;  /* Optional: adds some space above the images */
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
  padding: 2px 0;
}

.site-footer {
  position: relative;
  clear: both;
}
.main-content {
  margin-bottom: 0px;  /* Reduce or remove bottom margin */
  padding-bottom: 0px;  /* Reduce or remove bottom padding */
}
